
<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
     <title>E-Shopping - Centre commercial En ligne</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.png}">
     <link th:href="@{/css/style.css}" rel="stylesheet">
    
</head>

<body class="h-100">
    
    <!--*******************
        Preloader start
    ********************-->
   <!-- <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>-->
    <!--*******************
        Preloader end
    ********************-->

	 <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="form-input-content">
                        <div class="card login-form mb-0">
                            <div class="card-body pt-5">
                                <a class="text-center" href="index.html"> <h4>E-Shopping</h4></a>
        
								<form class="mt-5 mb-5 login-input" th:action="@{/login}" method="POST">
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Email" id="email" name="email"  th:placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control"th:placeholder="Password"
               id="password" name="password"  placeholder="Password">
                                    </div>
                                    <div align="center" th:if="${param.error}">
										<p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
									</div>
                                    <button class="btn login-form__btn submit w-100"  name="Submit" value="Login" type="Submit" th:text="Login">Sign In</button>
                                </form>
                                <p class="mt-5 login-form__footer" >Dont have account? <a  th:href="@{/registration}"class="text-primary">Sign Up</a> now</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <!--**********************************
        Scripts
    ***********************************-->
    <script th:src="@{/plugins/common/common.min.js}"></script>
     <script th:src="@{/js/custom.min.js}"></script>
    <script th:src="@{/js/settings.js}"></script>
    <script th:src="@{/js/gleek.js}"></script>
    <script th:src="@{/js/styleSwitcher.js}"></script>
</body>
</html>
