<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.png}">
    <!-- Custom Stylesheet -->
    <link th:href="@{/plugins/tables/css/datatable/dataTables.bootstrap4.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
   <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
      <div th:replace="fragments/navbarBack :: navbar"/>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div th:replace="fragments/headerBack :: header"/>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div th:replace="fragments/sidebarBack :: sidebar"/>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/dashboard}"  th:text="#{label.dashboard}"></a></li>
                        <li class="breadcrumb-item active"><a href=""  th:text="#{label.messagingList}"></a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
								<div class="row col-12">
									<div class="col-8">
									 	<h4 class="card-title" th:text="#{label.messagingList}"></h4>
									 </div>
									 <div class="col-4 float-right">
									 	<a th:href="@{../messaging/add}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm float-right" th:text="#{label.addNewMessaging}"><i
                                class="fa fa-plus fa-sm text-white-50 pr-1 "></i></a>
									 </div>
								</div>
                               
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered zero-configuration">
                                        <thead>
                                            <tr align="center">
                                               <th th:text="#{label.id}"></th>
                                                <th th:text="#{label.object}"></th>
                                                <th th:text="#{label.recipient}"></th>
                                                 <th th:text="#{label.message}"></th>
                                                <th th:text="#{label.status}"></th>
					                            <th th:text="#{label.view}"></th>
					                           <th th:text="#{label.delete}"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="messaging : ${messagings}"  align="center">
											 <td th:text="${messaging.id}"></td>
											 <td th:text="${messaging.object}"></td>
											 <td th:text="${messaging.recipient.name}"></td>
											  <td th:text="${messaging.message}"></td>
											 <td th:text="${messaging.status}"></td>
											 <td><a th:href="@{/messaging/show/{id}(id=${messaging.id})}" class="btn btn-primary"><i class="fa fa-eye ml-2"></i></a></td>
											<td><a th:href="@{/messaging/delete/{id}(id=${messaging.id})}" class="btn btn-danger" title="Supprimer"><i class="fa fa-user-times ml-2"> </a></td>
								
			                        </tr>	
                                        </tbody>
                                        <tfoot>
                                            <tr align="center">
                                                <th th:text="#{label.id}"></th>
                                                <th th:text="#{label.object}"></th>
                                                <th th:text="#{label.recipient}"></th>
                                                 <th th:text="#{label.message}"></th>
                                                <th th:text="#{label.status}"></th>
					                            <th th:text="#{label.view}"></th>
					                           <th th:text="#{label.delete}"></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
        <div th:replace="fragments/footerBack :: footer"/>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script th:src="@{/plugins/common/common.min.js}"></script>
    <script th:src="@{/js/custom.min.js}"></script>
    <script th:src="@{/js/settings.js}"></script>
    <script th:src="@{/js/gleek.js}"></script>
    <script th:src="@{/js/styleSwitcher.js}"></script>

    <script th:src="@{/plugins/tables/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/plugins/tables/js/datatable/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/plugins/tables/js/datatable-init/datatable-basic.min.js}"></script>

</body>

</html>